---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import ContactForm from '../components/ContactForm.astro'
import ContactFormES from '../components/ContactFormES.astro'
import { getCurrentLanguage } from '../i18n/utils'

export async function getStaticPaths() {
  const pages = await getCollection('pages')
  return pages.map(page => {
    return {
      params: { slug: page.slug },
      props: { page }
    }
  })
}

type Props = { page: CollectionEntry<'pages'> }

const { page } = Astro.props
const { title, seo } = page.data
const { Content } = await page.render()
const currentLang = getCurrentLanguage(Astro.url)
const isContactPage = page.slug === 'contact' || page.slug === 'es/contact'
---

<BaseLayout
  title={seo?.title ?? title}
  description={seo?.description}
  image={seo?.image}
  showHeader={false}
>
  <article class='mb-16 sm:mb-24'>
    <header class='mb-8'>
      <h1
        class='text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight'
      >
        {title}
      </h1>
    </header>
    <div class='max-w-none prose prose-dante sm:prose-lg'>
      <Content />

      {
        isContactPage && currentLang === 'en' && (
          <div class='mt-10'>
            <ContactForm />
          </div>
        )
      }

      {
        isContactPage && currentLang === 'es' && (
          <div class='mt-10'>
            <ContactFormES />
          </div>
        )
      }
    </div>
  </article>
</BaseLayout>
