---
import { getCurrentLanguage, getTranslatedPath } from '../i18n/utils'

const currentLang = getCurrentLanguage(Astro.url)
const currentPath = Astro.url.pathname
const pathWithoutLang = currentPath.replace(/^\/es/, '') || '/'
---

<div class='language-picker'>
  <ul class='flex gap-3 text-sm'>
    <li>
      <a
        href={pathWithoutLang}
        class={currentLang === 'en'
          ? 'font-bold'
          : 'text-neutral-500 hover:text-neutral-900 dark:hover:text-neutral-100'}
      >
        EN
      </a>
    </li>
    <li>
      <a
        href={`/es${pathWithoutLang}`}
        class={currentLang === 'es'
          ? 'font-bold'
          : 'text-neutral-500 hover:text-neutral-900 dark:hover:text-neutral-100'}
      >
        ES
      </a>
    </li>
  </ul>
</div>
